@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet"');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #E9ECF8;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;

}

.decodificador{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 80px;
}

.decodificador_texto img{
    padding: 3% 0 0 3%;
    margin-bottom: 6%;
}
.decodificador_texto textarea{
    margin-left: 240px;
    background-color: #E9ECF8;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    resize: none;
    color: #052051;
}

.decodificador_texto textarea::placeholder{
    color: #052051;
}

.decodificador_texto textarea:focus, textarea:active{
    border: none;
    outline: none;
}

.decodificador_texto_info{
    margin-top: 20%;
    padding-left: 240px;
    display: flex;
    align-items:baseline;
    gap: 8px;
}

.decodificador_texto_info h6{
    color: #495057;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.decodificador_botoes{
    padding-left: 240px;
    display: flex;
    gap: 24px;
}

.btn-criptografar{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #0A3871;
    color: #FFFFFF;
    width: 328px;
    border-radius: 24px;
    height: 67px;
    border: 1px solid #052051;
}

.btn-descriptografar{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #D8DFE8;
    color: #0A3871;
    width: 328px;
    border-radius: 24px;
    height: 67px;
    border: 1px solid #052051;
}

.decodificador_resultado{
    margin-top: 40px;
    background-color: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 850px;
    gap: 32px;
}

.decodificador_resultado_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 336px;
}

.decodificador_resultado_texto h5{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #343A40;
    font-weight: 700;
    text-align: center;
}

.decodificador_resultado_texto h6{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #495057;
    font-weight: 400;
    text-align: center;
}

.footer{
    margin-top: 5%;
    background-color: #7092be;
    display: flex;
    justify-content: center;
    gap: 50px;
    color: #052051;
}

.footer_info{
    display: flex;
    align-items: center;
}

.footer_info li{
   list-style: none;
}

.footer_info a{
    text-decoration: none;
    color: #052051;
}
.footer_info a:hover{
    text-decoration: underline;
}

@media(max-width: 770px){
    .decodificador{
        flex-direction: column;
    }
    .decodificador_texto{
        display:flex;
        flex-direction: column;
    }
    .decodificador_texto img{
        margin-bottom: 18%;
        padding-top: 3%;
        padding-left: 0;
    }
    .decodificador_texto textarea{
        margin-left: 3%;
        width: 688px;
    }
    .decodificador_texto_info{
        padding-left: 3%;
        height: 60px;
    }
    .decodificador_botoes{
        padding-left: 3%;
    }
    .decodificador_resultado{
        width: 688px;
        height: 133px;
        margin-left: 5%;
    }
    .decodificador_resultado img{
        display: none;
    }
    .decodificador_resultado_texto{
        width: 688px;
    }
}

@media(max-width:375px){
    .decodificador_botoes{
        flex-direction: column;
    }
    .decodificador_resultado{
        width: 327px;
    }
    .decodificador_resultado h5{
        width: 327px;
    }
    .decodificador_resultado h6{
        width: 327px;
    }
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: left;
    }
    .footer img{
        display: none;
    }
}